div#total{
width: auto;
background-color: #0B2C4D;
}

div#cabecalho{
width: 100%;
height: 110px;
float:left;
background-color: #1B67B3;
text-align: center;
}

div#menu{
background-color: #0B2C4D;
color: aliceblue;

}

div#conteudo{
height: 100%
}

div#rodape{
    width: auto;
    height: 330px;
    background-color: #0B2C4D;
}

a{
    text-decoration: none;
    color: #161F30;
}

#botao1{
    margin-left: 417px;
   
}

.botao{
  color: #C2D7F2;
  border: none;
  background-color:#C2D7F2 ;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

#fotomessi{
   width: 100%;
}

@font-face {
    font-family: titulo;
    src: url(./aBlackLives.otf);
}

@font-face {
    font-family: subtitulo;
    src: url(./CaviarDreams.ttf);
}

#TITULO{
    font-family: titulo;
    font-size: 40pt;
    line-height: 0px;
    color: #161F30;
    margin-top: 45px;
    margin: center;
}

#subtitulo{
   font-family: subtitulo;
   font-size: 15pt;
   line-height: 0px;
   color: #161F30;
   margin: center;
}

.fotos{
    display: flex;
    height: 18rem;
    gap: 1rem;
}

.fotos > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier( .25, .4, .45, 1.4);
}

.fotos > div:hover{
    flex: 5;
}